---
import Base from '../../../layouts/Base.astro'
import BlogImage from '../../../components/BlogImage.svelte'
import BlogDescription from '../../../components/BlogDescription.svelte'
import { formatDate } from '../../../lib/utils'

// Data Fetching API
import { getTranslations } from '../../../lib/translations';

export async function getStaticPaths() {
  //const posts = await Astro.glob('../../../../_data/content/posts/**/*.md')
  const posts = await Astro.glob('../../../../_data/content/posts/blog/*.md')
  const postsData = await getTranslations({
    "posts": posts
  })

  return postsData.map((postGroup) => {
    return postGroup.content.map((post) => {
      return {
        params: {
          postType: post.postType,
          locale: post.locale,
          slug: post.slug
        },
        props: {
          post
        }
      }
    })
  })
}
const { post } = Astro.props;
const postDate = formatDate(post.date)
---

<Base translationsURL={post.translations}>

  <div class="content container mx-auto dark:text-white py-24 lg:pt-40 lg:pb-20 px-6 flex">
    <div class="hidden lg:block lg:w-2/12 xl:w-3/12 pr-9">
      <BlogImage featuredImage={post.featuredImage} />
    </div>
    <div class="w-full lg:w-10/12 xl:w-6/12 space-y-6">
      <h1 class="text-4xl font-bold">
        <Fragment set:html={post.title} />
      </h1>
      <div class="">{postDate}</div>
      <BlogDescription description={post.description} />

      <Fragment set:html={post.body} />
      <div class="clear-both w-full"></div>
    </div>
  </div>

</Base>

<style lang="scss" is:global>
  .content {
    pre.astro-code {
      padding: 1.5em;
      code{
        background: transparent;
      }
    }

    blockquote {
      border-left: 5px solid;
      padding-left: 1rem;
      font-size: 1.1rem;
      font-style: italic;

      p {
        margin: 1rem 0;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 1.2rem;
    }

    ol {
      list-style-type: decimal;
      padding-left: 1.2rem;
    }

    h2 {
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: bold;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }

    p {
      a {
        color: rgb(44, 0, 204);
        border-bottom: 1px solid;
      }

      code {
        background: #5e5e5e;
        color: white;
        padding: 0.2em;
        border-radius: 0.3em;
        white-space: normal;
        font-size: 0.85rem;
      }
    }
  }

  .dark {
    .content {
      code{
        background: #2d2d2d;
      }
      a {
        color: rgb(169, 145, 255);
        border-bottom: 1px solid;
      }
    }
  }
</style>