---
import Base from '../layouts/Base.astro'

// Data Fetching API
import {translationEngine} from '../lib/translationEngine';

export async function getStaticPaths() {

  const posts = await Astro.glob('../../_data/content/pages/home.md')
  const postsData = await translationEngine(posts, "single_file");

  return postsData.map((post) => {
    return {
      params: {
        locale: post.locale
      },
      props: {
        post
      }
    };
  });
}

const { postType, locale } = Astro.params;
const { post } = Astro.props;

---

<Base postType={postType} locale={locale} translations={post.translations}>

  <div class="container mx-auto lg:py-40 px-6 space-y-6 dark:text-white">
    <Fragment set:html={post.about.text} />
    <!-- <Content /> -->
  </div>

</Base>