---
import Head from "./Head.astro"
import Menu from "./Menu.svelte"
import Logo from "./Logo.svelte"
import Footer from "./Footer.astro"
import ColorSchemes from "./ColorSchemes.astro"
import ThemeToggle from "./ThemeToggle.svelte"
import LanguageToggle from "./LanguageToggle.svelte"
import { getLocaleFromURL, getDefaultLocale } from "../lib/translations"
import settings from "../../_data/settings/generalSettings.json"
import '../styles/global.scss';

const path = Astro.canonicalURL.href;
const locale = getLocaleFromURL(path);
const homeLink = locale === getDefaultLocale() ? '/' :'/' + locale;

// Header Configs
const title = settings[locale].title;
const description = settings[locale].description;
const coverUrl = settings[locale].image;
const analytics = {
  provider: 'google',
  id: settings[locale].analitycs,
};

const { translationsURL } = Astro.props;
---

<html class="no-js scroll-smooth scroll-py-16 font-montserrat" lang={locale}>

  <head>

    <Head {title} {description} {analytics} {coverUrl}/>

    <ColorSchemes />

    <script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
  </head>

  <body class="bg-gray-200 dark:bg-gray-900 mx-auto">

    <main class="overflow-hidden">

      <header class="z-50 fixed w-full top-0 left-0 before:content[''] before:w-full before:h-16 before:lg:h-24 before:absolute before:bg-gray-200 before:dark:bg-gray-900 before:backdrop-blur-xl before:dark:backdrop-blur-xl before:bg-opacity-90 before:dark:bg-opacity-50">
        <div class="xl:container mx-auto px-6 h-16 lg:h-24">
          <div class="h-full flex flex-wrap lg:flex-nowrap justify-between items-center">
      
            <Logo homeLink={homeLink}/>
      
            <div class="flex mr-12 lg:mr-0">
      
              <LanguageToggle translationsURL={translationsURL} locale={locale}/>
      
              <ThemeToggle client:load />
      
            </div>
      
            <Menu locale={locale} client:idle />
      
          </div>
        </div>
      </header>

      <slot />

      <Footer locale={locale} />

    </main>

    <script is:inline>
      document.documentElement.classList.remove('no-js');
    </script>

    <script src="/assets/vanilla-tilt.min.js" is:inline/>
    
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>