---
import Base from '../../../layouts/Base.astro'

// Data Fetching API
import {translationEngine} from '../../../lib/translationEngine';

export async function getStaticPaths() {

  const posts = await Astro.glob('../../../../_data/content/posts/testmulti/*.md')
  const postsData = await translationEngine(posts, "multiple_files");

  return postsData.map((post) => {
    return {
      params: {
        postType: post.postType,
        locale: post.locale,
        slug: post.slug
      },
      props: {
        content: post.body,
        translations: post.translations
      }
    };
  });
}

const { postType, locale } = Astro.params;
const { content, translations } = Astro.props;
---

<Base postType={postType} locale={locale} translations={translations}>

  <div class="container mx-auto lg:py-40 px-6 space-y-6 dark:text-white">
    <Fragment set:html={content} />
  </div>

</Base>