---
import Title from '../components/Title.svelte'
import ConditionalLoading from '../components/ConditionalLoading.svelte'
import Blobs from '../components/Blobs.svelte'

// Data Fetching: Get section markdown file
let contentData = await Astro.glob('../pages/singular/about.md');
let content = contentData[0]
let contentBody = await content.compiledContent()
---

<ConditionalLoading load={content.frontmatter.active}>
  <section class="py-32">

    <div class="container mx-auto px-6">

      <div class="w-full space-y-8 z-10">

        <Title>
          <span slot="title">
            {content.frontmatter.title}
          </span>
          <span slot="subtitle">
            {content.frontmatter.description}
          </span>
        </Title>

        <div class="flex flex-wrap">

          <div class="w-full lg:w-4/12 space-y-8 z-10 relative mb-8">

            <img class="relative object-cover w-full aspect-square overflow-hidden rounded-full z-10 dark:brightness-100" src={content.frontmatter.image} alt="My picture">

            <Blobs/>

          </div>

          <div class="hidden lg:block lg:w-1/12 relative"></div>

          <div class="w-full lg:w-6/12 space-y-4 relative dark:text-white">
            <Fragment set:html={contentBody}/>
          </div>
        </div>

      </div>

    </div>

  </section>
</ConditionalLoading>