---
import Head from "./Head.astro"
import Menu from "../components/Menu.svelte"
import Logo from "../components/Logo.svelte"
import Footer from "./Footer.astro"
import ColorSchemes from "../components/ColorSchemes.astro"
import ThemeToggle from "../components/ThemeToggle.svelte"
import LanguageToggle from "../components/LanguageToggle.svelte"
import { getLocaleFromURL, getDefaultLocale } from "../lib/translations"
import settings from "../../_data/settings/generalSettings.json"

const path = Astro.canonicalURL.href;
const locale = getLocaleFromURL(path);
const homeLink = locale === getDefaultLocale() ? '/' :'/' + locale;

// Header Configs
const title = settings[locale].title;
const description = settings[locale].description;
const coverUrl = settings[locale].image;
const analytics = {
  provider: 'google',
  id: settings[locale].analitycs,
};

const { translationsURL } = Astro.props;
---

<html class="scroll-smooth scroll-py-16" lang={locale}>

  <head>

    <Head {title} {description} {analytics} {coverUrl}/>

    <ColorSchemes />

    <script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
  </head>

  <body class="bg-gray-200 dark:bg-gray-900">

    <main class="overflow-hidden">

      <header class="z-50 fixed w-full top-0 before:content[''] before:w-full before:h-16 before:lg:h-24 before:absolute before:bg-gray-200 before:dark:bg-gray-900 before:backdrop-blur-xl before:dark:backdrop-blur-xl before:bg-opacity-50 before:dark:bg-opacity-50">
        <div class="xl:container mx-auto px-6 h-16 lg:h-24">
          <div class="h-full flex flex-wrap lg:flex-nowrap justify-between items-center">
      
            <a href={homeLink} >
              <h1 id="logo" class="z-50 w-32 lg:w-40 h-16 lg:h-20 dark:invert relative">
      
                  <Logo />
      
                <span class="sr-only">Pedro Kehl - Webdesigner</span>
              </h1>
            </a>
      
            <div class="flex">
      
              <LanguageToggle translationsURL={translationsURL} locale={locale}/>
      
              <ThemeToggle client:load />
      
            </div>
      
            <Menu locale={locale} />
      
          </div>
        </div>
      </header>

      <slot />

      <Footer locale={locale} />

    </main>

    <script async src="assets/vanilla-tilt.min.js"/>
    
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>