---
import BlogImage from '../components/BlogImage.svelte'
import BlogDescription from '../components/BlogDescription.svelte'
import { formatDate } from '../lib/utils'

const { post } = Astro.props;
const postDate = formatDate(post.date)
---

<div class="post container mx-auto dark:text-white py-24 lg:pt-40 lg:pb-20 px-6 flex">
  <div class="hidden lg:block lg:w-2/12 xl:w-3/12 pr-9 sticky top-0 ">
    <BlogImage featuredImage={post.featuredImage} />
  </div>
  <div class="w-full lg:w-8/12 xl:w-6/12 leading-normal">
    <h1 class="text-4xl font-bold">
      <Fragment set:html={post.title} />
    </h1>
    <div>{postDate}</div>
    <BlogDescription description={post.description} />
    <Fragment set:html={post.body} />
    <div class="clear-both w-full"></div>
  </div>
</div>

<style lang="scss" is:global>
  .post {
    pre.astro-code {
      @apply p-6 lg:-ml-[25%] lg:w-[150%] rounded bg-slate-800 #{!important};
      code{
        @apply bg-transparent;
      }
    }
    blockquote {
      @apply my-3;
      &:nth-of-type(odd){
        @apply xl:-ml-[25%] xl:w-[50%] float-left mr-6 border-l-4 border-l-black dark:border-l-white pl-4 text-lg italic;
      }
      &:nth-of-type(even){
        @apply xl:-mr-[25%] xl:w-[50%] float-right ml-6 border-r-4 border-r-black dark:border-r-white pr-4 text-lg italic;
      }
      p{
        @apply mb-0;
      }
    }
    h1, h2, h3, h4, h5, h6, ul, ol, p, .astro-code, blockquote, div, span{
      @apply mb-6;
    } 
    h2{
      @apply pr-4 text-2xl font-semibold;
    }

    ul {
      @apply list-disc pl-5;
    }

    ol {
      @apply list-decimal pl-5;
    }

    p {
      @apply mb-6;
      a {
        @apply text-teal-900 border-b-2 border-b-teal-900 after:content-[''] after:w-3 after:h-3 after:ml-1 after:inline-block after:bg-contain after:bg-no-repeat after:bg-[url('/assets/icon-link.svg')]; 
      }

      code {
        @apply bg-slate-700 text-white p-[2px] rounded-sm whitespace-normal text-sm;

      }
    }
  }

  .dark {
    .post {
      code{
        @apply bg-slate-600;
      }
      a {
        @apply text-teal-300 border-b-2 border-b-teal-300; 
      }
    }
  }
</style>