---
import Button from '../components/Button.svelte'
import ConditionalLoading from '../components/ConditionalLoading.svelte'
import Blobs from '../components/Blobs.svelte'

// Data Fetching: Get markdown file
let contentData = await Astro.glob('../pages/singular/hero.md');
let content = contentData[0]
let contentBody = await content.compiledContent()
---

<ConditionalLoading load={content.frontmatter.active}>
  <section class="container mx-auto px-6 py-32 flex items-center min-h-screen relative">

    <div class="w-full md:w-8/12 lg:w-6/12 space-y-8 z-10">

      <div>
        <h3 class="text-2xl lg:text-3xl dark:text-white">
          {content.frontmatter.tagline}
        </h3>
        <h2 class="text-4xl sm:text-5xl lg:text-6xl font-semibold dark:text-white">
          <Fragment set:html={contentBody}/>
        </h2>
      </div>

      <div class="text-xl lg:text-2xl dark:text-white">
        {content.frontmatter.description}
      </div>

      <div class="lg:flex lg:space-x-6 space-y-6 lg:space-y-0">
        {content.frontmatter.buttons.map((button) => <Button type={button.type} link={button.link}>{button.label}</Button>)}
      </div>
      
    </div>

    <div class="w-full h-full right-0 md:w-8/12 lg:w-6/12 absolute">

      <Blobs/>

    </div>

  </section>
</ConditionalLoading>