---
import ConditionalLoading from '../partials/ConditionalLoading.svelte'
import Title from '../components/Title.svelte'
import Button from '../components/Button.svelte'
import Form from '../components/Form.svelte'
import Blobs from '../components/Blobs.svelte'
import ProjectPreview from '../components/ProjectPreview.astro'
import BlogPreview from '../components/BlogPreview.astro'
import { Markdown } from 'astro/components';
import { getTranslations, getLocaleFromURL } from '../lib/translations';

// Get post from index.astro or [locale.astro]
const { post } = Astro.props;

// Get locale from URL
const locale = getLocaleFromURL(Astro.canonicalURL.href);

// Data Fetching: List all Markdown projects in the repo.
const projects = await Astro.glob('../../_data/content/posts/projects/*.md')
const projectsData = await getTranslations({
  "posts": projects,
  "locale": locale
})
projectsData.sort((a, b) => new Date(b.content[0].date).valueOf() - new Date(a.content[0].date).valueOf())
const selectedProjects = projectsData.slice(0, post.projects.postsNum);

// Data Fetching: List all Markdown posts in the repo.
const posts = await Astro.glob('../../_data/content/posts/blog/*.md')
const postsData = await getTranslations({
  "posts": posts,
  "locale": locale
})
postsData.sort((a, b) => new Date(b.content[0].date).valueOf() - new Date(a.content[0].date).valueOf())
const selectedPosts = postsData.slice(0, post.blog.postsNum);

// Failsafe hero image (if JS disabled).
const heroImage = post.hero.images[0];
---

<ConditionalLoading load={post.hero.active}>
  <section id="hero"
    class="anchor xl:container mx-auto px-6 py-32 flex items-center h-screen lg:min-h-[750px] max-h-[1400px] relative">

    <div class="w-full md:w-8/12 lg:w-6/12 space-y-8 z-20">

      <div>
        <div class="text-2xl xl:text-3xl dark:text-white">
          {post.hero.tagline}
        </div>
        <h2 class="text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-bold !leading-1 dark:text-white">
          <Markdown content={post.hero.mainTagline} />
        </h2>
      </div>

      <div class="text-xl lg:text-2xl dark:text-white">
        {post.hero.description}
      </div>

      <div class="lg:flex lg:space-x-6 space-y-6 lg:space-y-0">
        {post.hero.buttons.map((button) => <Button type="a" style={button.type}
          link={button.link}>{button.label}</Button>)}
      </div>

    </div>

    <div class="w-full h-full right-0 md:w-8/12 lg:w-6/12 absolute">

      <div class="absolute w-full h-full flex justify-end items-center z-10">
        <img id="hero-image"
          class="mr-6 w-10/12 h-4/5 object-contain object-center opacity-20 lg:opacity-100 dark:invert dark:opacity-20 lg:dark:opacity-70"
          src="" alt="An old style anatomycal illustration of a brain, a heart or a hand">
        <noscript>
          <img
            class="mr-6 w-10/12 h-4/5 object-contain object-center opacity-20 lg:opacity-100 dark:invert dark:opacity-20 lg:dark:opacity-70"
            src={heroImage} alt="An old style anatomycal illustration of a brain, a heart or a hand">
        </noscript>
      </div>

      <Blobs />

    </div>

  </section>
</ConditionalLoading>

<ConditionalLoading load={post.about.active}>
  <section id="about" class="anchor py-16">

    <div class="xl:container mx-auto px-6">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.about.title}</Fragment>
          <Fragment slot="subtitle">{post.about.description}</Fragment>
        </Title>

        <div class="flex flex-wrap justify-center">

          <div class="w-8/12 lg:w-4/12 space-y-8 z-10 relative mb-8">

            <img loading="lazy"
              class="relative object-cover w-full aspect-square overflow-hidden rounded-full z-10 dark:brightness-100"
              src={post.about.image} alt="My picture">

            <Blobs />

          </div>

          <div class="hidden lg:block lg:w-1/12 relative"></div>

          <div class="w-full lg:w-6/12 space-y-4 relative dark:text-white z-10" data-format-text>
            <Markdown content={post.about.text} />
          </div>
        </div>

      </div>

    </div>

  </section>
</ConditionalLoading>


<ConditionalLoading load={post.projects.active}>

  <section id="projects" class="anchor py-16 relative">

    <div class="absolute w-5/12 h-1/3 right-0 bottom-1/3">
      <Blobs />
    </div>

    <div class="xl:container mx-auto px-6 relative z-10">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.projects.title}</Fragment>
          <Fragment slot="subtitle">{post.projects.description}</Fragment>
        </Title>

      </div>

    </div>

    <div
      class="xl:container px-6 scroll-px-6 mx-auto relative gap-8 flex flex-nowrap overflow-x-auto lg:overflow-visible lg:grid lg:grid-cols-3 z-10 snap-x"
      data-scroll>
      {selectedProjects.map((project) =>
      <ProjectPreview project={project.content} />)}
    </div>

  </section>
</ConditionalLoading>

<ConditionalLoading load={post.blog.active}>
  <section id="ideas" class="anchor py-16 relative">

    <div class="blobs absolute w-6/12 h-1/3 left-0 bottom-1/3">
      <Blobs />
    </div>

    <div class="xl:container mx-auto px-6 relative z-10">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.blog.title}</Fragment>
          <Fragment slot="subtitle">{post.blog.description}</Fragment>
        </Title>

      </div>

    </div>

    <div
      class="xl:container px-6 scroll-px-6 mx-auto relative gap-8 flex flex-nowrap overflow-x-auto lg:overflow-visible lg:grid lg:grid-cols-4 z-10 snap-x"
      data-scroll>
      {selectedPosts.map((post) =>
      <BlogPreview post={post.content} />)}
    </div>

  </section>
</ConditionalLoading>

<ConditionalLoading load={post.contact.active}>
  <section id="contact" class="anchor py-16 relative">

    <div class="xl:container mx-auto px-6 relative z-10">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.contact.title}</Fragment>
          <Fragment slot="subtitle">{post.contact.description}</Fragment>
        </Title>

      </div>

    </div>

    <div class="xl:container mx-auto px-6 flex flex-wrap lg:flex-nowrap gap-8 relative z-10">

      <div class="w-full lg:w-6/12">

        <Form locale:{locale} client:visible />

      </div>

      <div class="w-full lg:w-6/12 space-y-4 lg:pt-12 lg:pl-8 dark:text-white">
        <a class="block" href="mailto:info@pedrokehl.net">
          <img loading="lazy" class="w-5 h-5 inline-block mr-1 dark:invert" src="./assets/icon-mail.svg"/>
          <div class="inline-block">info@pedrokehl.net</div>
        </a>
        <a class="block" href="https://twitter.com/pedrokehl">
          <img loading="lazy" class="w-5 h-5 inline-block mr-1 dark:invert" src="./assets/icon-twitter.svg"/>
          <div class="inline-block">https://twitter.com/pedrokehl</div>
        </a>
        <a class="block" href="https://www.linkedin.com/in/pedro-kehl/">
          <img loading="lazy" class="w-5 h-5 inline-block mr-1 dark:invert" src="./assets/icon-linkedin.svg"/>
          <div class="inline-block">https://www.linkedin.com/in/pedro-kehl/</div>
        </a>
        <a class="block" href="https://instagram.com/ppkehl">
          <img loading="lazy" class="w-5 h-5 inline-block mr-1 dark:invert" src="./assets/icon-instagram.svg"/>
          <div class="inline-block">https://instagram.com/ppkehl</div>
        </a>
        <a class="block" href="https://github.com/ppkehl">
          <img loading="lazy" class="w-5 h-5 inline-block mr-1 dark:invert" src="./assets/icon-github.svg"/>
          <div class="inline-block">https://github.com/ppkehl</div>
        </a>
      </div>

    </div>

  </section>
</ConditionalLoading>

<script define:vars={{post}}>
  const randomImage = Math.floor(Math.random() * post.hero.images.length);
  const selectedImage = post.hero.images[randomImage];
  let heroImage = document.getElementById("hero-image");
  heroImage.src = selectedImage;
</script>

<style lang="scss">
  [data-scroll] {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>