---
import ConditionalLoading from '../components/ConditionalLoading.svelte'
import Title from '../components/Title.svelte'
import Button from '../components/Button.svelte'
import Form from '../components/form.astro'
import Blobs from '../components/Blobs.svelte'
import ProjectPreview from '../layouts/ProjectPreview.astro'
import BlogPreview from '../layouts/BlogPreview.astro'
import {Markdown} from 'astro/components';
import {getTranslations, getLanguageFromURL} from '../lib/translations';

// Get post from index.astro or [locale.astro]
const { post } = Astro.props;

// Get locale from URL
const locale = getLanguageFromURL(Astro.canonicalURL.href);

// Data Fetching: List all Markdown projects in the repo.
const projects = await Astro.glob('../../_data/content/posts/projects/*.md')
const projectsData = await getTranslations({
  "posts": projects,
  "locale": locale
})
//projectsData.sort((a, b) => new Date(b.content.date).valueOf() - new Date(a.content.date).valueOf())
const selectedProjects = projectsData.slice(0, post.projects.postsNum);

// Data Fetching: List all Markdown posts in the repo.
const posts = await Astro.glob('../../_data/content/posts/blog/*.md')
const postsData = await getTranslations({
  "posts": posts,
  "locale": locale
})
//postsData.sort((a, b) => new Date(b.content.date).valueOf() - new Date(a.content.date).valueOf())
const selectedPosts = postsData.slice(0, post.blog.postsNum);
---
<ConditionalLoading load={post.hero.active}>
  <section id="hero" class="container mx-auto px-6 py-20 flex items-center min-h-screen relative">

    <div class="w-full md:w-8/12 lg:w-6/12 space-y-8 z-10">

      <div>
        <h3 class="text-2xl lg:text-3xl dark:text-white">
          {post.hero.tagline}
        </h3>
        <h2 class="text-4xl sm:text-5xl lg:text-7xl font-bold !leading-[1.1] dark:text-white">
          <Markdown content={post.hero.mainTagline}/>
        </h2>
      </div>

      <div class="text-xl lg:text-2xl dark:text-white">
        {post.hero.description}
      </div>

      <div class="lg:flex lg:space-x-6 space-y-6 lg:space-y-0">
        {post.hero.buttons.map((button) => <Button type="a" style={button.type} link={button.link}>{button.label}</Button>)}
      </div>
      
    </div>

    <div class="w-full h-full right-0 md:w-8/12 lg:w-6/12 absolute">

      <Blobs />

    </div>

  </section>
</ConditionalLoading>

<ConditionalLoading load={post.about.active}>
  <section id="about" class="py-20">

    <div class="container mx-auto px-6">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.about.title}</Fragment>
          <Fragment slot="subtitle">{post.about.description}</Fragment>
        </Title>

        <div class="flex flex-wrap">

          <div class="w-full lg:w-4/12 space-y-8 z-10 relative mb-8">

            <img class="relative object-cover w-full aspect-square overflow-hidden rounded-full z-10 dark:brightness-100" src={post.about.image} alt="My picture">

            <Blobs />

          </div>

          <div class="hidden lg:block lg:w-1/12 relative"></div>

          <div class="w-full lg:w-6/12 space-y-4 relative dark:text-white">
            <Markdown content={post.about.text}/>
          </div>
        </div>

      </div>

    </div>

  </section>
</ConditionalLoading>


<ConditionalLoading load={post.projects.active}>

  <section id="projects" class="py-20 relative">

    <div class="absolute w-5/12 h-1/3 right-0 bottom-1/3">
      <Blobs />
    </div>
    
    <div class="container mx-auto px-6 relative z-10">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.projects.title}</Fragment>
          <Fragment slot="subtitle">{post.projects.description}</Fragment>
        </Title>

      </div>

    </div>

      <div class="px-6 scroll-px-6 mx-auto relative gap-8 flex flex-nowrap overflow-x-auto lg:container lg:grid lg:grid-cols-3 z-10 snap-x" data-scroll> 
        {selectedProjects.map((project) => <ProjectPreview project={project.content}/>)}
      </div>

    

  </section>
</ConditionalLoading>

<ConditionalLoading load={post.blog.active}>
  <section id="ideas" class="py-20 relative">

    <div class="blobs absolute w-6/12 h-1/3 left-0 bottom-1/3">
      <Blobs />
    </div> 

    <div class="container mx-auto px-6 relative z-10">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.blog.title}</Fragment>
          <Fragment slot="subtitle">{post.blog.description}</Fragment>
        </Title>

      </div>

    </div>

    <div class="px-6 scroll-px-6 mx-auto relative gap-8 flex flex-nowrap overflow-x-auto lg:container lg:grid lg:grid-cols-4 z-10 snap-x" data-scroll> 
      {selectedPosts.map((post) => <BlogPreview post={post.content}/>)}
    </div>

  </section>
</ConditionalLoading>

<ConditionalLoading load={post.contact.active}>
  <section id="contact" class="py-20 relative">

    <div class="container mx-auto px-6 relative z-10">

      <div class="w-full space-y-8 z-10">

        <Title>
          <Fragment slot="title">{post.contact.title}</Fragment>
          <Fragment slot="subtitle">{post.contact.description}</Fragment>
        </Title>

      </div>

    </div>

    <div class="container mx-auto px-6 flex gap-8 relative z-10">

      <Form client:load />

    </div>

  </section>
</ConditionalLoading>


<style lang="scss">
  [data-scroll]{
    &::-webkit-scrollbar{
      -webkit-appearance: none;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 4px;
      background-color: #cccccc;
    }
  }
</style>