---
import BlogImage from '../components/BlogImage.svelte'
import BlogDescription from '../components/BlogDescription.svelte'
import { formatDate } from '../lib/utils'

const { post } = Astro.props;
const postDate = formatDate(post.date)
---

<div class="content container mx-auto dark:text-white py-24 lg:pt-40 lg:pb-20 px-6 flex">
  <div class="hidden lg:block lg:w-2/12 xl:w-3/12 pr-9">
    <BlogImage featuredImage={post.featuredImage} />
  </div>
  <div class="w-full lg:w-10/12 xl:w-6/12 space-y-6">
    <h1 class="text-4xl font-bold">
      <Fragment set:html={post.title} />
    </h1>
    <div class="">{postDate}</div>
    <BlogDescription description={post.description} />
    <Fragment set:html={post.body} />
    <div class="clear-both w-full"></div>
  </div>
</div>

<style lang="scss" is:global>
  .content {
    pre.astro-code {
      @apply p-6;
      code{
        @apply bg-transparent;
      }
    }
    blockquote {
      @apply border-l-4 border-l-black pl-4 text-lg italic;
      p {
        @apply my-4;
      }
    }

    ul {
      @apply list-disc pl-5;
    }

    ol {
      @apply list-decimal pl-5;
    }

    p {
      a {
        @apply text-teal-900 border-b-2 border-b-teal-900; 
      }

      code {
        @apply bg-slate-700 text-white p-1 rounded-sm whitespace-normal text-sm;

      }
    }
  }

  .dark {
    .content {
      code{
        @apply bg-slate-600;
      }
      a {
        @apply text-teal-300 border-b-2 border-b-teal-300; 
      }
    }
  }
</style>